# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Data files
data/PS_20174392719_1491204439457_log.csv
*.csv
*.parquet
*.xlsx
*.log

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Test & coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Misc
*.bak
*.swp
*.tmp

# Kafka logs
kafka-logs/

# MinIO
minio/


# Ignore secrets
secrets.json
